footer {
	padding: 40px 0 0 0;
	background: rgb(68, 68, 68);
	color: #aaa;
	text-align: left;
}

.footer-left a {
	color: rgb(221, 221, 221);
	border-bottom: 1px dashed rgb(221, 221, 221);
}
.footer-left a:hover, .footer-left a:focus {
	color: rgb(221, 221, 221);
	border: 0;
}

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: rgb(170, 170, 170);
}
.footer-right a:hover, .footer-right a:focus {
	 color: rgb(238, 238, 238);
}

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus {
	 color: rgb(136, 136, 136);
}
