@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

.sec2{
    font-family: 'Raleway';
    font-size: 15px;

}

section.sec2::before{
    background-image: url(/assets/img/section/paint_brush_down.png);
    background-repeat: repeat-x;
    content: "";
    display: table;
    background-color: #fff;
    height: 50px;
    width: 100%;
    z-index: 90000;
}

.get-notified{
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(
        rgba(104, 143, 170, 0.99), 
        rgba(114, 114, 114, 0.76)),
         
      url(/assets/img/section//background-smoothie.png);
}

.color{
    color: #ffffff;
    background-color: #2ecc71;
    font-weight: 700;
}

.row-space{
    margin-top: 60px;
    margin-bottom: 60px;
}


.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .btn:hover{
    background-color: #28b463;
 }

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: #EEF2F3;
    border: #EEF2F3;
}

.get-heading{
    font-size: 2.25em;
    font-weight: bolder;

}

.credo-color{
    font-size: 1.5em;
    color: #2ECC71;
    font-weight: bolder;
}

.get-paragraph{
    font-size: 1.15em;
}

.heading-container{
    text-align: center;
}

.signup-heading{
    font-size: 3em;
    letter-spacing: 0.20em;
    font-weight: 700;
}

.signup-subheading{
    font-size: 1.5em;

}